@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

input[type='radio'] {
  border: none;
}

input[type='radio']:after {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  top: -2px;
  left: 0.1px;
  position: relative;
  content: '';
  display: inline-block;
  visibility: visible;
  z-index: -1;
  border: 1px solid #7f8fa4;
}

input[type='radio']:checked:after {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  top: -2px;
  left: 0.1px;
  position: relative;
  content: '';
  display: inline-block;
  visibility: visible;
  z-index: -1;
  border: 1px solid #f43a7d;
}
